body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #111;
    color: #0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.clock-container{
    text-align: center;
    padding: 20px;
    border: 3px solid #0f0;
    border-radius: 10px;
    box-shadow: 0 0 20px #0f0;
}


#clock{
    font-size: 60px;
    margin-top: 10px;
    letter-spacing: 3px;
}