/* Import all the font-family */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inria Sans", sans-serif;
}

body {
  background-color: rgba(225, 223, 223, 0.13);
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

header .logo {
  position: relative;
  left: 80px;
}


nav ul {
  display: flex;
  gap: 40px;
}

nav ul li {
  list-style: none;
  background-color: rgba(247, 243, 243, 0.605);
}

nav ul li a {
  font-family: "Inria Sans", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

nav ul li a:hover {
  color: green;
}

.btn {
  display: flex;
  gap: 20px;
}

.btn1 {
  cursor: pointer;
  border: none;
  padding: 5px;
  background-color: white;
  font-size: 20px;
  color: #4CAF4F;
}

.btn2 {
  cursor: pointer;
  background-color: #4CAF4F;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 0px 15px;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
}

.container-1 .box-1 {
  position: relative;
  left: 50px;
  padding: 3px;
  bottom: 25px;
}

.containr-1-btn {
  position: relative;
  left: 50px;
  padding: 5px 30px;
  font-size: 15px;
  color: white;
  background-color: #4CAF4F;
  border: 1px solid black;
  cursor: pointer;
}


.container-1-img {
  padding-right: 30px;
}

.container-1-img img {
  width: 391px;
  height: 407px;
}

.box-1 .h1 {
  font-size: 60px;
}

.box-1 .h2 {
  font-size: 60px;
  color: #4CAF4F;

}

.box-1 .p {
  font-size: 20px;
  color: grey;
}


.dot-1 p {
  position: relative;
  font-size: 90px;
  right: 200px;
  color: #4CAF4F;
}

.container-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding-top: 10px;
}

.container-2-box1 {
  width: 95vw;
  overflow: hidden;
}

.container-2-box1 h1 {
  font-size: 35px;
  font-weight: bold;
  margin: 20px
}

.container-2-box1 p {
  font-size: 20px;
  color: grey;
  font-weight: 400;
}

.container-2-box1 img {
  width: 80vw;
  margin: auto;
}

.container-2-box2 {
  padding-top: 20px;
}

.container-2-box2 h1 {
  font-weight: bold;
  font-size: 32px;
  margin: auto;
  width: 40vw;
  padding-bottom: 15px;
}

.container-2-box1 p {
  font-size: 20px;
  font-weight: bold;
}

.container-3 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.container-3 img {
  width: 100%;
}

.container-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97vw;
  padding-right: 100px;
}

.container-4-box1 img {
  width: 47vw;
}

.container-4-box2 h1 {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 15px;
}

.container-4-box2 p {
  color: grey;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 20px;
}

.container-4-box2 button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4CAF4F;
  border-radius: 7px;
  border: none;
  color: white;
  cursor: pointer;
}

.container-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px 80px;
  position: relative;
  background-color: rgba(143, 142, 142, 0.148);

}

.container-5-box1 h1 {
  font-size: 32px;
  font-weight: bold;
}

.container-5-box1 h2 {
  font-size: 40px;
  color: #4CAF4F;
  font-weight: bold;
}

.container-5-box1 p {
  font-size: 18px;
}

.container-5-box2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 47vw;
  position: relative;
  gap: 20px;
}

.container-5-box2 img {
  height: 70px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.container-6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97vw;
  padding: 20px 40px;
  gap: 20px;
}


.container-6-box1 img {
  width: 30vw;
}

.container-6-box2 h1 {
  padding-bottom: 20px;
  width: 50vw;
  font-size: 40px;
  font-weight: bold;

}

.container-6-box2 p {
  padding-bottom: 20px;
  width: 50vw;
  font-weight: bold;
  color: grey;

}

.container-6-box2 button {
  padding: 10px 30px;
  font-size: 15px;
  background-color: #4CAF4F;
  color: white;
  border: none;
  border-radius: 7px;
}

.container-7 {
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(143, 142, 142, 0.148);
}

.container-7-box1 {
  width: 50vw;
  position: relative;
  right: 40px;
}

.container-7-box1 p {
  font-size: 15px;
  padding-bottom: 10px;
  font-weight: 600;
}

.container-7-box1 h2 {
  color: #4CAF4F;
  padding-bottom: 10px;
}

.container-7-box1 h4 {
  padding-bottom: 10px;
  color: grey;
}

.container-7-box1 img {
  width: 50vw;
  position: relative;
}

.container-7-box2 {
  width: 50vw;
}

.container-7-box2 img {
  width: 21vw;
  position: relative;
  left: 130px;
}


.container-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-8-box1 {
  width: 90vw;
  padding-top: 20px;
}

.container-8-box1 h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

.container-8-box1 p {
  padding-bottom: 20px;
  font-weight: 600;
  color: grey;
  font-size: 15px;
  width: 60vw;
  margin: auto;

}

.container-8-box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50vw;
  gap: 20px;
  justify-content: center;
}

.container-8-box2 img {
  width: 25vw;
}

.container-9 {
  text-align: center;
  background-color: rgba(143, 142, 142, 0.148);
}


.container-9-box1 {
  padding: 20px;
}

.container-9-box1 h1 {
  font-size: 50px;
  font-weight: bold;
  width: 50vw;
  margin: auto;
  padding-bottom: 10px;
}

.container-9-box1 button {
  padding: 8px 30px;
  font-size: 18px;
  color: white;
  background-color: #4CAF4F;
  border: none;
  border-radius: 7px;
  position: relative;
  font-weight: bold;
}

.container-9-box1 button svg {
  position: relative;
  top: 6px;
  left: 10px;
}

.container-10 {
  background-color: #263238;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 30px;
  position: relative;
  padding: 20px 100px;
}

.container-10-box1 p {
  padding-top: 40px;
  width: 20vw;
  font-size: 18px;
  padding-bottom: 10px;
}

.c10 img {
  padding-top: 20px;
  height: 60px;
}

.container-10-box2 .nav1,
.container-10-box3 .nav2{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 10px;
}

.container-10-box2 .nav1 span,
.container-10-box3 .nav2 span{
  padding: 8px;
}


.container-10-box4{
  position: relative;
  bottom: 50px;
}

.container-10-box4 h1{
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 30px;
}

.container-10-box4 input{
  font-size: 25px;
  background-color: #d9dbe133;
  color: black;
  border: none;
  border-radius: 6px;
  position: relative;
}

.container-10-box4 input::placeholder {
  color: white;
  font-size: 15px;
  position: relative;
  bottom: 4px;
  left: 10px;
}