* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:cursive;
    width: 1440px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}

.logo img {
    height: 36px;
    width: 219.54px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    padding-right: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
    font-size: larger;
}

nav ul li a:hover {
    color: #B9FF66;
}

header button {
    padding: 15px 80px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    font-size: large;
    letter-spacing: 2px;
}

header button:hover {
    background-color: #B9FF66;
}

.container-1 {
    display: flex;
    justify-content: space-around;
    gap: 200px;
}

.container-1-box1 {
    width: 531px;
    height: 481px;
}

.container-1-box1 h1 {
    font-size: 60px;
    padding-bottom: 20px;
}


.container-1-box1 p {
    font-size: 20px;
    padding-bottom: 20px;
    color: grey;
    font-weight: 900;
}

.container-1-box1 button {
    padding: 10px 50px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    color: black;
}

.container-1-box1 button:hover {
    background-color: #B9FF66;
}


.container-1-box2 img {
    width: 600.46px;
    height: 515px;
}

.container-2 {
    padding: 60px 0px 60px 0px;
}

.container-2-box1 img {
    width: 124.11px;
    height: 48px;
    margin-left: 40px;
    margin-right: 60px;
}

.container-2-box1 img:hover {
    transform: scale(140%);
}

.container-3 {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-bottom: 60px;

}

.container-3 button {
    font-size: 32px;
    padding: 5px 20px;
    background-color: #B9FF66;
    font-weight: bolder;
}

.container-3-box1 h5 {
    width: 580px;
    height: 46px;
    font-size: 16px;
}

.container-4 {
    display: grid;
}

.container-4-box1 img {
    margin: 20px 110px 20px 0px;
    width: 600px;
    height: 310px;
    cursor: pointer;
    padding-bottom: 40px;
}

.container-4-box1 img:hover {
    transform: scale(120%);
}


.container-5 {
    width: 1320px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #F3F3F3;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 60px
}

.container-5-box1 {
    padding-left: 50px;
}

.container-5-box1 h1 {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 40px;
}

.container-5-box1 h4 {
    font-size: 20px;
    padding-bottom: 40px;
}

.container-5-box1 button {
    padding: 10px 60px;
    font-size: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.container-5-box1 button:hover {
    color: #B9FF66;
}


.container-5-box2 img {
    width: 494px;
    height: 394px;
}


.container-6 {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-bottom: 60px;

}

.container-6 button {
    font-size: 32px;
    padding: 5px 20px;
    background-color: #B9FF66;
    font-weight: bolder;
}

.container-6-box1 h5 {
    width: 580px;
    height: 46px;
    font-size: 16px;
}

.container-7 {
    padding: 0px 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 300px;
    border-radius: 15px;
    background-color: #191A23;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

.container-7-box1,
.container-7-box2 {
    border-right: 2px solid #FFFFFF;
}

.container-7-box1,
.container-7-box2,
.container-7-box3 {
    padding-right: 20px;
}


.container-7-box1 h3,
.container-7-box2 h3,
.container-7-box3 h3 {
    font-size: 20px;
    padding-bottom: 30px;
    color: #FFFFFF;
}

.container-7-box1 h5,
.container-7-box2 h5,
.container-7-box3 h5 {
    position: relative;
    font-size: 20px;
    color: #B9FF66;
}

.container-7-box1 svg,
.container-7-box2 svg,
.container-7-box3 svg {
    position: relative;
    top: 2px;
}


.container-8 {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-bottom: 60px;

}

.container-8 button {
    font-size: 32px;
    padding: 5px 20px;
    background-color: #B9FF66;
    font-weight: bolder;
}

.container-8-box1 h5{
    width: 580px;
    height: 46px;
    font-size: 16px;
    padding-top: 10px;
}

.container-9 {
    display: flex;
    flex-direction: column;
    background-color: #B9FF66;
    padding: 40px;
    border-radius: 30px;
    width: 1320px;
    box-shadow: 5px 6px 1px rgba(0, 0, 0, 0.7);
} 

.container-9 hr {
    border: 2px solid black;
}

.container-9-box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
    
}

.container-9-box1 h1 {
    font-size: 40px;
}

.container-9-box1 h3 {
    position: relative;
    right: 430px;
    font-size: 30px;
}

.container-9-box1 img {
    height: 50px;
    position: relative;
    right: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container-9-box1 img:hover{
    transform: rotate(45deg);
}


.container-9-box2 {
    padding-top: 20px;
}

.container-9-box2 p {
    font-size: 20px;
}

.container-10 {
    margin-top: 40px;
    background-color: #B9FF66;
    padding: 40px;
    border-radius: 30px;
    width: 1320px;
    box-shadow: 5px 6px 1px rgba(0, 0, 0, 0.7);
}

.container-10-box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.container-10-box1 h1 {
    font-size: 40px;
}

.container-10-box1 #h3-2 {
    position: relative;
    right: 250px;
    font-size: 30px;
}

.container-10-box1 #h3-3 {
    position: relative;
    right: 400px;
    font-size: 30px;
}

.container-10-box1 #h3-4 {
    position: relative;
    right: 300px;
    font-size: 30px;
}

.container-10-box1 #h3-5 {
    position: relative;
    right: 300px;
    font-size: 30px;
}

.container-10-box1 #h3-6 {
    position: relative;
    right: 350px;
    font-size: 30px;
}

.container-10-box1 img {
    height: 50px;
    position: relative;
    right: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container-10-box1 img:hover{
    transform: rotate(45deg);
}

.container-11 {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 60px 0px;
}

.container-11 button {
    font-size: 32px;
    padding: 5px 20px;
    background-color: #B9FF66;
    font-weight: bolder;
}

.container-11-box1 h5{
    width: 580px;
    height: 60px;
    font-size: 16px;
    padding-top: 10px;
}

.container-12{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 1320px;
}

.container-12-box1{
    border: 2px solid black;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0px 6px 2px rgba(0,0,0,0.7);
    position: relative;
    height: auto;
}

.container-12-box1 #container-12-img-box1 {
    width: 105.65px;
    height: 102.82px;
}
.container-12-box1 #container-12-img-box2 {
    width: 34px;
    height: 34px;
    position: relative;
    bottom: 28px;
}

.small-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-bottom: 30px;
}

.small-box #container-1-box1-box{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
}

#container-1-box1-box h3{
    font-size: 15px;
}

.small-box2 p{
    text-align: center;
    font-size: 18px;
    padding: 30px 0px;
}

.container-13 {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 60px 0px;
}

.container-13 button {
    font-size: 32px;
    padding: 5px 20px;
    background-color: #B9FF66;
    font-weight: bolder;
}

.container-13-box1 h5{
    width: 580px;
    height: 60px;
    font-size: 16px;
    padding-top: 10px;
}

.container-14{
    background-color: #191A23;
    border-radius: 40px;
    width: 1320px;
    height: 625px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container-14-box1{
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 50px;
}

.container-14-box1 img{
    width: 606px;
    height: 266px;
    position: relative;
    top: 100px;
}

.container-14-box2{
    position: relative;
    left: 1080px;
    top: 100px;
}


.container-14-box3{
    position: relative;
    left: 435px;
    top: 50px;
}

.container-14-box2 h3,
.container-14-box3 h3{
    color: #B9FF66;
}

.container-14-box2 h4,
.container-14-box3 h4{
    color: #FFFFFF;
}

.container-14-box4{
    position: relative;
    top: 180px;
    text-align: center;
    
}
.container-14-box4 img{
    width: 564px;
    height: 20px;
}

.container-15 {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 60px 0px;
}

.container-15 button {
    font-size: 32px;
    padding: 5px 20px;
    background-color: #B9FF66;
    font-weight: bolder;
}

.container-15-box1 h5{
    width: 580px;
    height: 60px;
    font-size: 16px;
    padding-top: 10px;
}

.container-16{
    width: 1320px;
    background-color: #F3F3F3;
    border-radius: 15px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    position: relative;
}


.container-16-box1 .radio{
    padding-top: 40px;
}
.container-16-box1 .radio label{
    font-size: 20px;
    padding-right: 30px;
}
.container-16-box1 .input-area {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 5px;
}

.container-16-box1 .input-area input, textarea{
    font-size: 32px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 150%; 
    
}

.container-16-box2{
    position: absolute;
    right: -317px;
    bottom: 20px;

}


.container-16-box2 img{
    width: 691px;
    height: 600px;
}

.container-16-box1 button{
    background-color: #191A23;
    color: #FFFFFF;
    font-size: 32px;
    border-radius: 12px;
    width: 150%; 
}

.container-17{
    margin-top: 60px;
    background-color: #191A23;
    border-radius: 40px 40px 0px 0px;
    width: 1320px;
    padding: 30px 30px;
    

}
.container-17-box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-17-box1 #footer-ul ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.container-17-box1 #footer-ul ul li{
    list-style: none;
    color: #F3F3F3;
    font-size: 20px;
}

.container-17-box1 #footer-ul ul li{
    list-style: none;
    color: #F3F3F3;
    font-size: 20px;
}


.container-17-box1 #footer-logo img {
    width: 180px;
    height: 29px;
}


.container-17-box1 #footer-social-media img {
    width: 30px;
    height: 30px;
}


.container-17-box2{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.container-17-box2-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    position: relative;
    width: 40vw;
}

.container-17-box2-left button{
    background-color: #B9FF66;
    width: 160px;
    height: 35px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.container-17-box2-left button:hover{
    background-color: #a3d664;
}


.container-17-box2-left h3:nth-last-child(1){
    position: relative;
    top: -15px;

}

.container-17-box2-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292A32;
    width: 60vw;
    padding: 30px 30px;
    border-radius: 20px;
    gap: 20px;
    
}

.container-17-box2-right textarea{
    background-color: #292A32;
    margin-top: 28px;
    border: 2px solid white;
    position: relative;
    color: #F3F3F3;
    width: 50%;
}



.container-17-box2-right textarea::placeholder{
    position: fixed;
    top: 20px;
    left: 10px;
}

.container-17-box2-right button{
    width: 50%;
    height: 80px;
    border-radius: 10px;
    background-color: #a3d664;
    color: #292A32;
    font-size: 25px;
    cursor: pointer;
}

.container-17-box3{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 6px solid grey;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #F3F3F3;
}
