/* All the imported fonts are here */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Condensed+One&display=swap');

/* Global declaration */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: "Inria Sans", sans-serif;
    font-weight: bold;
}

.nav-bar{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.nav-ul{
    display: flex;
    gap: 50px;
}

.nav-ul li{
    list-style: none;
}

.nav-ul li a{
    text-decoration: none;
    transition: color 0.5s ease;
    color: white;
    cursor: pointer;
}

.nav-ul li a:hover{
    color: rgb(146, 140, 140);
}

.nav-bar button{
    font-size: 20px;
    background-color: white;
    width: 150px;
    color: black;;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}

.nav-bar img{
    position: absolute;
    right: 85px;
    z-index: 1;
    width: 20px;
    cursor: pointer;
}


.introduction{
    font-family: "Inria Sans", sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}


.introduction-box1{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.introduction-box1 h1{
    letter-spacing: 5px;
    padding-bottom: 8px;
}

.introduction-box1 p{
    font-size: 17px;
}

.introduction-social-media img{
    padding-right: 10px;
    cursor: pointer;
}
    
.introduction-box2 img{
    width: 600px;
    height: 400px;
}

.skills h1{
    text-align: center;
    font-size: 35px;
    letter-spacing: 5px;
    padding-bottom: 20px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px solid white;
    width: 200px;
    height: 200px;
    box-shadow: 5px 6px 2px rgba(225, 222, 222, 0.555);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.cards:hover{
    transform: scale(110%);
}

.cards img{
    width: 80px;
}

.cards h5{
    font-size: 20px;
}