*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

body{
    background-color: rgb(140, 147, 147);
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clock-container{
    border: 2px solid black;
    padding: 20px;

}

h1{
    color: red;
}