*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container h1{
    padding: 20px 0px;
}

.container p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.container input{
    border: 2px solid white;
    width: 40%;
    font-size: 15px;
    color: white;
    padding: 5px;
}


.container button{
    background-color: white;
    color: black;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
}


#weight-guide{
    margin-top: 40px;
}

#result{
    margin-top: 10px;
}