*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    color: white;
}

.header{
    background-color: white;
    color: black;
}

ul{
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

ul li{
    border: 4px solid black;
    padding: 5px 10px;
    width: 20%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}