body {
    background-color: azure;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.guessing-container {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: white;
}

#guessing-input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
}

#guessing-result {
    font-size: 12px;
}